<%include header %>
 
  <link rel="stylesheet" type="text/css" href="/stylesheets/renter/favorite.css">
 
 
  <!-- ARTICLE -->
  <div class="container-fluid parent-article">
    <h1 class="wow tada">Danh sách yêu thích</h1>
    <div class="article container wow bounceInUp">
      <div class="row mom-article">
      </div>
    </div>
    <div class="direct wow fadeInDown">
      <div id="prev">
        <i class="fas fa-angle-left"></i>
      </div>
 
      <div id="next">
        <i class="fas fa-angle-right"></i>
      </div>
    </div>
  </div>
 
<%include footer %>
 
<script src="/javascripts/renter/favorite.js"></script>
<script src="/javascripts/renter/get-favorite.js"></script>
 
