<%include ./header %> 
<link rel="stylesheet" type="text/css" href="/stylesheets/renter/list.css">

<!-- Thanh tim kiem -->
<div class="container-fluid parent-search">
  <h1 class="wow tada">Tìm kiếm phòng trọ</h1>
  <div class="container search wow fadeInUp">
    <div class="row row1">
      <div class="col-sm-1"></div>
      <div class="col-sm-2 col-6">
        <div>Loại nhà trọ</div>
        <select id="loai-nha-tro">
          <option>Tất cả</option>
          <option>Phòng trọ</option>
          <option>Nhà nguyên căn</option>
          <option>Chung cư mini</option>
        </select>
      </div>
      <div class="col-sm-2  col-6">
        <div>Tỉnh/Thành phố</div>
        <select id="tinh">
          <option>Tất cả</option>

        </select>
      </div>
      <div class="col-sm-2  col-6">
        <div>Quận/Huyện</div>
        <select id="huyen">
          <option>Tất cả</option>

        </select>
      </div>
      <div class="col-sm-2  col-6">
        <div>Phường/Xã</div>
        <select id="xa">
          <option>Tất cả</option>

        </select>
      </div>
      <div class="col-sm-2  col-6">
        <div>Đường/Phố</div>
        <select id="duong">
          <option>Tất cả</option>

        </select>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row row1">
      <div class="col-sm-3"></div>
      <div class="col-sm-2  col-6">
        <div>Diện tích</div>
        <select id="dien-tich">
          <option>Tất cả</option>
          <option><= <span>15</span> m2</option>
          <option><span>15</span> m2 -> <span>30</span> m2</option>
          <option><span>30</span> m2 -> <span>50</span> m2</option>
          <option><span>50</span> m2 -> <span>100</span> m2</option>
          <option>>= <span>100</span> m2</option>
        </select>
      </div>
      <div class="col-sm-2  col-6">
        <div>Mức giá</div>
        <select id="muc-gia">
          <option>Tất cả</option>
          <option><= <span>1</span> triệu</option>
          <option><span>1</span> triệu -> <span>3</span> triệu</option>
          <option><span>3</span> triệu -> <span>5</span> triệu</option>
          <option><span>5</span> triệu -> <span>10</span> triệu</option>
          <option>>= <span>10</span> triệu</option>
        </select>
      </div>
      <div class="col-sm-2  col-6">
        <div>An ninh</div>
        <select id="an-ninh">
          <option>Tất cả</option>
          <option>Chung chủ</option>
          <option>Không chung chủ</option>
        </select>
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row row2">
      <div class="col-sm-1"></div>
      <div class="col-sm-2 col-4">
        <input type="checkbox" id="ban-cong"></input>
        <img class="img-fluid w-50" src="/images/ban-cong.png" alt="">
      </div>
      <div class="col-sm-2 col-4">
        <input type="checkbox" id="dieu-hoa"></input>
        <img class="img-fluid w-50 " src="/images/dieu-hoa.png" alt="">
      </div>
      <div class="col-sm-2 col-4">
        <input type="checkbox" id="binh-nong-lanh"></input>
        <img class="img-fluid w-50" src="/images/binh-nong-lanh.png" alt="">
      </div>
      <div class="col-sm-2 col-4">
        <input type="checkbox" id="tu-lanh"></input>
        <img class="img-fluid w-25" src="/images/tu-lanh.png" alt="">
      </div>
      <div class="col-sm-2 col-4">
        <input type="checkbox" id="may-giat"></input>
        <img class="img-fluid w-50" src="/images/may-giat.png" alt="">
      </div>
     
      <div class="col-sm-1"></div>
    </div>

  </div>
  <div id="search" class="wow fadeInDown">Tìm kiếm</div>

</div>



<!-- ARTICLE -->
<div class="container-fluid parent-article">
  <h1 class="wow bounceInUp">Tất cả bài đăng</h1>
  <h5 id="amount-article">Có <span></span> bài đăng</h5>
  <div class="article container wow bounceInUp">
   
    <div class="row mom-article">
    </div>

  </div>

  <div id="limit-article">
    <span id="limit1">1</span> -> <span id="limit2"></span>
  </div>

  <div class="direct wow fadeInDown">
    
    <div id="prev">
      <i class="fas fa-angle-left"></i>
    </div>

    <div id="next">
      <i class="fas fa-angle-right"></i>
    </div>
  </div>

</div>

<%include ./footer %>

<script src="/javascripts/renter/list.js"></script>