<%include header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/renter/home.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/renter/profile.css" />
<div class="container">
    <div class="main-body profile-renter-body">
    </div>
</div>


<%include footer %>

<script src="/javascripts/renter/profile.js"></script>
