<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv='cache-control' content='no-cache'>
  <meta http-equiv='expires' content='0'>
  <meta http-equiv='pragma' content='no-cache'>
  <link rel="shortcut icon" type="image/png" href="">
  <!-- Thu vien animate -->
  <link rel="stylesheet" href="/stylesheets/animate.min.css">
  <!-- Khai bao fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <!-- Khai bao google font-->
  <link
    href='https://fonts.googleapis.com/css2?family=Chewy&family=Fira+Sans+Extra+Condensed&family=Asap+Condensed&family=Roboto+Condensed&family=Bungee+Inline&family=VT323&family=Fira+Sans+Extra+Condensed&family=Barlow+Condensed&family=IBM+Plex+Sans&family=Fira+Sans+Extra+Condensed&family=Bangers&family=Bungee+Inline&family=Asap&family=Pangolin&family=Francois+One&family=Cabin&family=Special+Elite&family=Sawarabi+Gothic&family=Alatsi&family=Roboto+Condensed&family=PT+Sans+Narrow&family=Kanit&family=Fira+Sans+Condensed&display=swap'
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Oswald&family=Roboto&family=Source+Sans+Pro&display=swap"
    rel="stylesheet">
  <!-- Thu vien jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <!-- Bootstrap 4-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <!-- Khai báo css của trang-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/renter/list.css">
  <title>Student Housing</title>
</head>

<body>
  <!-- Thanh đăng nhập, đăng ký -->
  <div class="bg-dark" id="parent-login-subcrible">
    <div class="container text-right p-1" id="tab-login-subcrible">

    </div>
  </div>

  <!-- Menu các chuyên mục -->
  <div id="menu" class="sticky-top">
    <div class="container d-flex justify-content-center align-items-center p-1">
      <div class="row w-100 w-100">
        <div class="col-md-9 col-lg-5">
          <div id="logo-sologan" class="d-flex justify-content-center align-items-center">
            <img id="logo"
              src="../../../../../../../../../../../../../../../../../../../../../../../../../../../../../../../../../../images/logo.png"
              alt="">
            <div id='sologan'>I TRUST YOU 3000</div>
          </div>
        </div>
        <div class="col-md-3 col-lg-7 p-0">
          <div id="menus" class="h-100">
            <nav class="navbar navbar-expand-lg pr-0 h-100 navbar-light">
              <div class="navbar-brand d-block d-lg-none">Menu</div>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav d-flex w-100 justify-content-end">
                  <a class="nav-item nav-link" href="/">TRANG CHỦ</a>
                  <a class="nav-item nav-link" href="/list">PHÒNG TRỌ</a>
                  <a class="nav-item nav-link" href="#">TIN TỨC VÀ SỰ KIỆN</a>
                  <a class="nav-item nav-link" href="#">TÀI KHOẢN</a>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Thanh tim kiem -->
  <div class="container-fluid parent-search">
    <h1 class="wow tada">FIND YOUR LOCATION</h1>
    <div class="container search wow fadeInUp">
      <div class="row row1">
        <div class="col-sm-1"></div>
        <div class="col-sm-2 col-6">
          <div>Loại nhà trọ</div>
          <select id="loai-nha-tro">
            <option>Tất cả</option>
            <option>Phòng trọ</option>
            <option>Nhà nguyên căn</option>
            <option>Chung cư mini</option>
          </select>
        </div>
        <div class="col-sm-2  col-6">
          <div>Tỉnh/Thành phố</div>
          <select id="tinh">
            <option>Tất cả</option>

          </select>
        </div>
        <div class="col-sm-2  col-6">
          <div>Quận/Huyện</div>
          <select id="huyen">
            <option>Tất cả</option>

          </select>
        </div>
        <div class="col-sm-2  col-6">
          <div>Phường/Xã</div>
          <select id="xa">
            <option>Tất cả</option>

          </select>
        </div>
        <div class="col-sm-2  col-6">
          <div>Đường/Phố</div>
          <select id="duong">
            <option>Tất cả</option>

          </select>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="row row1">
        <div class="col-sm-3"></div>
        <div class="col-sm-2  col-6">
          <div>Diện tích</div>
          <select id="dien-tich">
            <option>Tất cả</option>
            <option>
              <= <span>15</span> m2
            </option>
            <option><span>15</span> m2 -> <span>30</span> m2</option>
            <option><span>30</span> m2 -> <span>50</span> m2</option>
            <option><span>50</span> m2 -> <span>100</span> m2</option>
            <option>>= <span>100</span> m2</option>
          </select>
        </div>
        <div class="col-sm-2  col-6">
          <div>Mức giá</div>
          <select id="muc-gia">
            <option>Tất cả</option>
            <option>
              <= <span>1</span> triệu
            </option>
            <option><span>1</span> triệu -> <span>3</span> triệu</option>
            <option><span>3</span> triệu -> <span>5</span> triệu</option>
            <option><span>5</span> triệu -> <span>10</span> triệu</option>
            <option>>= <span>10</span> triệu</option>
          </select>
        </div>
        <div class="col-sm-2  col-6">
          <div>An ninh</div>
          <select id="an-ninh">
            <option>Tất cả</option>
            <option>Chung chủ</option>
            <option>Không chung chủ</option>
          </select>
        </div>
        <div class="col-sm-3"></div>
      </div>
      <div class="row row2">
        <div class="col-sm-1"></div>
        <div class="col-sm-2 col-4">
          <input type="checkbox" id="ban-cong"></input>
          <img class="img-fluid w-50" src="/images/ban-cong.png" alt="">
        </div>
        <div class="col-sm-2 col-4">
          <input type="checkbox" id="dieu-hoa"></input>
          <img class="img-fluid w-50 " src="/images/dieu-hoa.png" alt="">
        </div>
        <div class="col-sm-2 col-4">
          <input type="checkbox" id="binh-nong-lanh"></input>
          <img class="img-fluid w-50" src="/images/binh-nong-lanh.png" alt="">
        </div>
        <div class="col-sm-2 col-4">
          <input type="checkbox" id="tu-lanh"></input>
          <img class="img-fluid w-25" src="/images/tu-lanh.png" alt="">
        </div>
        <div class="col-sm-2 col-4">
          <input type="checkbox" id="may-giat"></input>
          <img class="img-fluid w-50" src="/images/may-giat.png" alt="">
        </div>

        <div class="col-sm-1"></div>
      </div>
    </div>
    <div id="search" class="wow fadeInDown">SEARCH</div>

  </div>



  <!-- ARTICLE -->
  <div class="container-fluid parent-article">
    <h1 class="wow bounceInUp">ALL POST</h1>
    <div id="info-search">

    </div>
    <h5 id="amount-article">Có <span></span> bài đăng</h5>
    <div class="article container wow bounceInUp">

      <div class="row mom-article">
        <!--
      <div class="col-md-6 col-lg-4">
        <div class="card card-body">
          <div class="amount-image">
            <i class="far fa-image"></i>
            <span id="amount-image">3</span>
          </div>
          <img class="img-fluid card-img-top" src="https://cdn-4.ohay.tv/imgs/7a6d46e360614205ac38/728.jpg">
          <h5 class="card-title title-article">Chung cư mini đầy đủ đồ đạc</h5>
          <div class="row info-article">
            <div class="col-6 text-left">
              <i class="fas fa-money-bill"></i><span>3 triệu/tháng</span>
            </div>
            <div class="col-6 text-right">
              <i class="fas fa-home"></i><span>25 m<sup>2</sup></span>
            </div>
            <div class="col-12 text-left">
              <i class="fas fa-map-marker-alt"></i><span>Cầu Giấy, Hà Nội</span>
            </div>
            <div class="col-6 text-left">
              <i class="far fa-clock"></i><span>Hôm nay</span>
            </div>
            <div class="col-6 text-right">
              <i class="far fa-heart" id="like"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card card-body">
          <div class="amount-image">
            <i class="far fa-image"></i>
            <span id="amount-image">3</span>
          </div>
          <img class="img-fluid card-img-top" src="https://cdn-4.ohay.tv/imgs/7a6d46e360614205ac38/728.jpg">
          <h5 class="card-title title-article">Chung cư mini đầy đủ đồ đạc</h5>
          <div class="row info-article">
            <div class="col-6 text-left">
              <i class="fas fa-money-bill"></i><span>3 triệu/tháng</span>
            </div>
            <div class="col-6 text-right">
              <i class="fas fa-home"></i><span>25 m<sup>2</sup></span>
            </div>
            <div class="col-12 text-left">
              <i class="fas fa-map-marker-alt"></i><span>Cầu Giấy, Hà Nội</span>
            </div>
            <div class="col-6 text-left">
              <i class="far fa-clock"></i><span>Hôm nay</span>
            </div>
            <div class="col-6 text-right">
              <i class="far fa-heart" id="like"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card card-body">
          <div class="amount-image">
            <i class="far fa-image"></i>
            <span id="amount-image">3</span>
          </div>
          <img class="img-fluid card-img-top" src="https://cdn-4.ohay.tv/imgs/7a6d46e360614205ac38/728.jpg">
          <h5 class="card-title title-article">Chung cư mini đầy đủ đồ đạc</h5>
          <div class="row info-article">
            <div class="col-6 text-left">
              <i class="fas fa-money-bill"></i><span>3 triệu/tháng</span>
            </div>
            <div class="col-6 text-right">
              <i class="fas fa-home"></i><span>25 m<sup>2</sup></span>
            </div>
            <div class="col-12 text-left">
              <i class="fas fa-map-marker-alt"></i><span>Cầu Giấy, Hà Nội</span>
            </div>
            <div class="col-6 text-left">
              <i class="far fa-clock"></i><span>Hôm nay</span>
            </div>
            <div class="col-6 text-right">
              <i class="far fa-heart" id="like"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card card-body">
          <div class="amount-image">
            <i class="far fa-image"></i>
            <span id="amount-image">3</span>
          </div>
          <img class="img-fluid card-img-top" src="https://cdn-4.ohay.tv/imgs/7a6d46e360614205ac38/728.jpg">
          <h5 class="card-title title-article">Chung cư mini đầy đủ đồ đạc</h5>
          <div class="row info-article">
            <div class="col-6 text-left">
              <i class="fas fa-money-bill"></i><span>3 triệu/tháng</span>
            </div>
            <div class="col-6 text-right">
              <i class="fas fa-home"></i><span>25 m<sup>2</sup></span>
            </div>
            <div class="col-12 text-left">
              <i class="fas fa-map-marker-alt"></i><span>Cầu Giấy, Hà Nội</span>
            </div>
            <div class="col-6 text-left">
              <i class="far fa-clock"></i><span>Hôm nay</span>
            </div>
            <div class="col-6 text-right">
              <i class="far fa-heart" id="like"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card card-body">
          <div class="amount-image">
            <i class="far fa-image"></i>
            <span id="amount-image">3</span>
          </div>
          <img class="img-fluid card-img-top" src="https://cdn-4.ohay.tv/imgs/7a6d46e360614205ac38/728.jpg">
          <h5 class="card-title title-article">Chung cư mini đầy đủ đồ đạc</h5>
          <div class="row info-article">
            <div class="col-6 text-left">
              <i class="fas fa-money-bill"></i><span>3 triệu/tháng</span>
            </div>
            <div class="col-6 text-right">
              <i class="fas fa-home"></i><span>25 m<sup>2</sup></span>
            </div>
            <div class="col-12 text-left">
              <i class="fas fa-map-marker-alt"></i><span>Cầu Giấy, Hà Nội</span>
            </div>
            <div class="col-6 text-left">
              <i class="far fa-clock"></i><span>Hôm nay</span>
            </div>
            <div class="col-6 text-right">
              <i class="far fa-heart" id="like"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card card-body">
          <div class="amount-image">
            <i class="far fa-image"></i>
            <span id="amount-image">3</span>
          </div>
          <img class="img-fluid card-img-top" src="https://cdn-4.ohay.tv/imgs/7a6d46e360614205ac38/728.jpg">
          <h5 class="card-title title-article">Chung cư mini đầy đủ đồ đạc</h5>
          <div class="row info-article">
            <div class="col-6 text-left">
              <i class="fas fa-money-bill"></i><span>3 triệu/tháng</span>
            </div>
            <div class="col-6 text-right">
              <i class="fas fa-home"></i><span>25 m<sup>2</sup></span>
            </div>
            <div class="col-12 text-left">
              <i class="fas fa-map-marker-alt"></i><span>Cầu Giấy, Hà Nội</span>
            </div>
            <div class="col-6 text-left">
              <i class="far fa-clock"></i><span>Hôm nay</span>
            </div>
            <div class="col-6 text-right">
              <i class="far fa-heart" id="like"></i>
            </div>
          </div>
        </div>
      </div>
    -->
      </div>

    </div>

    <div id="limit-article">
      <span id="limit1">1</span> -> <span id="limit2"></span>
    </div>

    <div class="direct wow fadeInDown">

      <div id="prev">
        <i class="fas fa-angle-left"></i>
      </div>

      <div id="next">
        <i class="fas fa-angle-right"></i>
      </div>
    </div>

  </div>

  <%include ./footer %>

    <script src="/javascripts/renter/search.js"></script>